global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'space-management-monitor'

scrape_configs:
  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['app:8081']
        labels:
          application: 'space-management'
          environment: 'development'
