spring:
  application:
    name: space-management

  profiles:
    active: dev  # Perfil por defecto

  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: UTC

# Configuración común a todos los entornos
server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

